<h1>Countries</h1>

<table>
    <thead>
        <th>Name</th>
        <th>Population</th>
        <th>Continent</th>
        <th>Count Language</th>
    </thead>
    <tbody>
        <% @countries.each do |c| %>
        <tr>
            <td><%= c.upcase_name %></td>
            <td><%= c.population %></td>
            <td><%= c.continent %></td>
            <td><%= c.num_of_languages %></td>
        </tr>
        <% end %>
    </tbody>
</table>